scepserver-*
scepclient-*

ca-certs
*.key
*.crt
*.pem
.DS_Store
node_modules
download
build
.env
target
artifacts
gcp_credential.json
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/tfplan
infra/terraform/tfplan*
infra/terraform/terraform.tfvars
infra/terraform/scripts/test/prereg.out
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
.cache
*.exe
*.msi
*.dll